#about {
    .categories-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 2rem;
        border-radius: 0.25rem;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
        .category-wrapper {
            width: 100%;
            user-select: none;
            + .category-wrapper > .category {
                border-top: 1px solid @gray-light;
            }
        }
        .category {
            padding: 1.25rem;
            cursor: pointer;
            &::after {
                content: '';
                display: table;
                clear: both;
            }
        }
        .category-title {
            float: left;
            margin-bottom: 0;
            font-size: 1.25rem;
            line-height: 1.2;
            font-weight: 600;
        }
        .category-icon {
            float: right;
            width: 24px;
            height: 24px;
            margin-bottom: 0;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100% 100%;
        }
        @media screen and (min-width: 375px) {
            box-shadow: none;
            border-radius: 0;
            .category-wrapper {
                width: calc(50% - 0.5rem);
                + .category-wrapper > .category {
                    border: none;
                }
                &:first-child {
                    margin-bottom: 1rem;
                }
                &:nth-child(2) {
                    margin-bottom: 1rem;
                }
            }
            .category {
                padding: 2.5rem 1.5rem;
                background-color: #fefefe;
                border-radius: 0.25rem;
                text-align: center;
                box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
                transition: box-shadow 0.4s;
                &::after {
                    content: unset;
                    display: unset;
                    clear: unset;
                }
            }
            .category-title {
                display: inline-block;
                position: relative;
                float: none;
                font-size: 1.25rem;
                font-weight: 600;
                line-height: 1;
            }
            .category-icon {
                float: none;
                width: 36px;
                height: 36px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0.5rem;
            }
        }
        @media screen and (min-width: 375px) and (pointer: fine) {
            .category {
                &:hover {
                    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
                    .category-title::after {
                        background-color: @blue;
                    }
                }
            }
        }
        @media screen and (min-width: 425px) {
            .category {
                padding: 3.5rem 1.5rem;
            }
        }
        @media screen and (min-width: 768px) {
            .category-wrapper {
                width: calc(50% - 1rem);
                &:first-child {
                    margin-bottom: 2rem;
                }
                &:nth-child(2) {
                    margin-bottom: 2rem;
                }
            }
            .category {
                border-radius: 0.5rem;
                box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
                transition: transform 0.4s, box-shadow 0.4s;
            }
            .category-title {
                font-size: 1.5rem;
                line-height: 1.6;
                &::after {
                    position: absolute;
                    bottom: -2px;
                    left: 50%;
                    transform: translateX(-50%);
                    content: '';
                    width: 1.25rem;
                    height: 2px;
                    background-color: @gray-dark;
                    transition: background-color 0.4s;
                }
            }
            .category-icon {
                width: 48px;
                height: 48px;
                margin-bottom: 0.5rem;
            }
        }
        @media screen and (min-width: 768px) and (pointer: fine) {
            .category {
                &:hover {
                    transform: translateY(-0.5rem);
                    box-shadow: 0 8px 32px 2px rgba(0, 0, 0, 0.1);
                }
            }
        }
        @media screen and (min-width: 1024px) {
            .category-wrapper {
                width: calc(25% - (2rem + 4px) * 3 / 4);
                &:first-child {
                    margin-bottom: 0;
                }
                &:nth-child(2) {
                    margin-bottom: 0;
                }
            }
        }
        @media screen and (min-width: 1200px) {
            .category {
                padding: 5rem 1.5rem;
            }
            .category-icon {
                margin-bottom: 0.75rem;
            }
        }
    }
}