#contact {
    padding: 2rem 0;
    background-color: #f4f8fe;
    width: 100%;
    text-align: center;
    @media screen and (min-width: 768px) {
        padding: 4rem 0;
    }
    .section-header {
        margin-bottom: 1.5rem;
        text-align: center;
        .section-heading {
            margin-bottom: 1rem;
            font-size: 1.5rem;
            font-weight: 600;
        }
        .section-intro {
            font-size: 1rem;
            color: rgba(20, 20, 20, 0.75);
            line-height: 1.6;
            .contact {
                position: relative;
                color: rgba(20, 20, 20, 0.75);
                text-decoration: none;
                line-height: 1.6;
                cursor: pointer;
                transition: color 0.4s;
                &::before {
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: rgba(20, 20, 20, 0.2);
                    transition: width 0.4s;
                }
                @media (pointer: fine) {
                    &::after {
                        position: absolute;
                        bottom: -2px;
                        left: 50%;
                        transform: translateX(-50%);
                        content: '';
                        width: 0;
                        height: 2px;
                        background-color: @blue;
                        transition: width 0.4s;
                    }
                    &:hover {
                        color: rgba(20, 20, 20, 0.9);
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
        @media screen and (min-width: 768px) {
            margin-bottom: 2.5rem;
            .section-heading {
                margin-bottom: 1.25rem;
                font-size: 2.5rem;
            }
        }
    }
    .email-box {
        display: inline-block;
        .email {
            display: inline-block;
            padding: 1em 1.5em;
            border-radius: 1.5em;
            background-color: @white;
            font-size: calc(1rem + 2px);
            font-weight: 600;
            line-height: 1;
            text-decoration: none;
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.4s;
            @media (pointer: fine) {
                &:hover {
                    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
                }
            }
            @media screen and (min-width: 768px) {
                font-size: 1.5rem;
                box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
            }
            @media screen and (min-width: 768px) and (pointer: fine) {
                &:hover {
                    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}