footer {
    padding: 2.5rem 0 1.5rem;
    @media screen and (min-width: 768px) {
        padding: 3rem 0 2rem;
    }
    .navigation {
        margin: 0 auto 1rem;
        max-width: 425px;
        @media screen and (min-width: 768px) {
            margin: 0 auto 2rem;
        }
        nav {
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .single-list {
            margin-bottom: 1rem;
            .title {
                margin-bottom: 1em;
                font-size: calc(1rem + 2px);
                font-weight: 600;
                line-height: 1;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            .list-item {
                padding: 0;
                margin-bottom: 0.75rem;
                line-height: 1;
                color: rgba(20, 20, 20, 0.75);
                &:last-child {
                    margin-bottom: 0;
                }
                span, a {
                    color: rgba(20, 20, 20, 0.75);
                    text-decoration: none;
                    cursor: pointer;
                    @media (pointer: fine) {
                        color: rgba(20, 20, 20, 0.75);
                        &:hover {
                            color: rgba(20, 20, 20, 1);
                        }
                    }
                }
            }
            @media screen and (min-width: 768px) {
                .title {
                    font-size: 1.25rem;
                }
            }
        }
    }
    .copyright {
        text-align: center;
        .text {
            color: rgba(20, 20, 20, 0.5);
        }
    }
}