* {
    box-sizing: border-box;
}
.content-desktop {
    display: none;
}
@media screen and (min-width: 768px) {
    .content-mobile {
        display: none;
    }
    .content-desktop {
        display: block;
    }
}
.page {
    padding: 2rem 0;
    min-height: 100vh;
    .heading {
        margin-bottom: 3rem;
        text-align: center;
    }
}
// restricts max width
@media screen and (min-width: 768px) {
    .page {
        margin: 0 auto;
        max-width: 1000px;
    }
}
// adds white space on the edges
@media screen and (min-width: 768px) {
    .wrapper {
        margin: 0 1rem;
    }
}
.flex-container {
    display: flex;
}