.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(60, 60, 60, 0.98);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s;
    z-index: 1;
    &.open {
        pointer-events: auto;
        opacity: 1;
        .overlay-header {
            transform: translateY(1rem);
        }
        .overlay-body {
            transform: scale(1);
        }
        .overlay-control {
            transform: translateY(-1rem);
        }
    }
    @media screen and (min-width: 768px) {
        &.open {
            .overlay-header {
                transform: translateY(2rem);
            }
            .overlay-control {
                transform: translateY(-2rem);
            }
        }
    }
    .overlay-header {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        transform: translateY(-4rem);
        transition: transform 0.4s;
        width: 100%;
        z-index: 1;
        .overlay-title {
            display: inline-block;
            padding: calc(0.5em - 1px) 0.75em;
            border-radius: 4px;
            margin: 0 auto;
            line-height: 1;
            font-size: 1.25rem;
            color: rgba(255, 255, 255, 0.9);
            border: 1px solid rgba(255, 255, 255, 0.9);
            background-color: rgba(70, 70, 70, 1);
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
            @media screen and (min-width: 768px) {
                box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
                font-size: 1.5rem;
            }
        }
    }
    .overlay-body {
        height: 100vh;
        overflow: auto;
        transform: scale(0.95);
        transition: transform 0.4s;
    }
    .overlay-control {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        transform: translateY(4rem);
        transition: transform 0.4s;
        svg {
            padding: 0.5rem;
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            border: 1px solid rgba(255, 255, 255, 0.9);
            background-color: rgba(70, 70, 70, 1);
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
            transition: background-color 0.4s;
            cursor: pointer;
            path {
                fill: rgba(255, 255, 255, 0.9);
                transition: fill 0.4s;
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.9);
                path {
                    fill: @black;
                }
            }
        }
        @media screen and (min-width: 768px) {
            svg {
                width: 3rem;
                height: 3rem;
                box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
            }
        }
    }
}