#page_edu {
    .flex-container {
        flex-wrap: wrap;
    }
    .edu-item {
        padding: 1rem 1rem 0;
        border-radius: 0.25rem;
        margin-bottom: 1.25rem;
        width: 100%;
        .box-shadow();
        .item-school {
            line-height: 1.25;
            // preserve line breaks
            white-space: pre-line;
        }
    }
}
@media screen and (min-width: 768px) {
    #page_edu {
        .flex-container {
            justify-content: space-between;
        }
        .edu-item {
            width: calc(50% - 10px);
        }
    }
}